@charset "utf-8";

<!-- jq 自訂檔案 -->

.ui-jqgrid *, .ui-widget, .ui-widget input, .ui-widget select,
.ui-widget textarea, .ui-widget button { font-size:13px; }

.ui-jqgrid .loading {font-size: 13px;} /*內容字型大小*/
.ui-jqgrid .ui-jqgrid-view {font-size: 13px;} /*內容字型大小*/
/*內容：列高、多行*/
.ui-jqgrid tr.jqgrow td {
    height: auto; /*auto*/
    padding: 2px;
    vertical-align: middle;
    overflow: hidden;
    white-space: normal !important;
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
}

/*表頭*/
.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {height:20px; font-weight: normal; vertical-align: middle;}
/*多行*/
.ui-jqgrid .ui-jqgrid-htable th div {overflow: visible !important; height: auto !important;}
.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {white-space: normal !important;}
.ui-jqgrid .ui-th-div-ie{white-space: normal !important;}

/*頁數欄*/
.ui-jqgrid .ui-jqgrid-toppager .ui-pager-control, .ui-jqgrid .ui-jqgrid-pager .ui-pager-control {height:25px;} /*高度*/
.ui-jqgrid .ui-pg-table td {vertical-align:middle; white-space: nowrap; font-size: 11px; font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;} /*頁數顯示字型*/
.ui-jqgrid .ui-pg-table td div {vertical-align:middle; white-space: nowrap; font-size: 12px; font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;} /*筆數顯示字型*/
.ui-jqgrid .ui-pg-input,.ui-jqgrid .ui-jqgrid-toppager .ui-pg-input {height:13px; font-size:1.0em; width:2.5em; margin:0; text-align:center;} /*頁數輸入字型寬度*/

 .ui-jqgrid .ui-jqgrid-view, .ui-jqgrid .ui-paging-info, .ui-jqgrid .ui-pg-selbox, .ui-jqgrid .ui-pg-table {
 font-size: 13px;
 }
.ui-jqgrid .ui-jqgrid-pager .ui-paging-info,
.ui-jqgrid .ui-jqgrid-toppager .ui-paging-info
{
	margin-top: 7px;
	margin-left: 2px;
	display: inline-block;
}
